<nb-card class="general-card" accent="primary">
  <div class="show-in-row">
    <div class="normal">
      <div class="show-in-row">

        <div class="normal">
          <label class="label" for="resource-type-name">Resource name</label>
          <input id="resource-type-name" nbInput placeholder="Resource type name" required appNameValidator
                 [(ngModel)]="resourceType.name"
                 #name="ngModel">
          <div *ngIf="resourceType.name && name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.nameValidator">
              invalid character in name
            </div>
          </div>
        </div>
        <div class="normal">

          <label class="label" for="resource-type-name">Resource description</label>
          <input id="resource-type-description" nbInput fullWidth  placeholder="Resource type description" required
                 [(ngModel)]="resourceType.description">
        </div>
      </div>

      <div *ngFor="let resourceTypeMethodModel of resourceType.resourceTypeMethodModel">
        <resource-type-method [resourceTypeMethodModel]="resourceTypeMethodModel"
                              (resourceTypeMethodModelChange)="update($event)"></resource-type-method>
      </div>
    </div>
  </div>


  <button nbButton status="basic" (click)="newResourceType()">Add</button>
  <button nbButton status="basic" (click)="save()">Save</button>

</nb-card>
