@import '../../themes';
.component-panel {
  position: absolute;
  background: white;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  width: min-content;
  padding-bottom: 20px;
}


.elements-grid {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(2, 120px);
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
