.params-card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: min-content;
}

.show-in-row{
  margin-top: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.normal{
  display: grid;
}

