<nb-card accent="primary" class="body-generator-card">
  <div class="show-in-row">
    <div class="normal">
      <label class="label" for="trait-name">Trait name</label>
      <input id="trait-name" nbInput placeholder="Trait name" required appNameValidator
             [(ngModel)]="trait.name"
             #name="ngModel">
    </div>
    <div class="show-in-row">
      <div class="normal">
        <label class="label" for="is-response">Response</label>
        <nb-select id="is-response" placeholder="is Response" [selected]="requiredEnum.false">
          <nb-option *ngFor="let item of requiredEnum | enumToArray" [value]="item"
                     (selectionChange)="setResponse(item)">
            {{item}}
          </nb-option>
        </nb-select>
      </div>
      <div *ngIf="trait.response" class="normal">
        <label class="label" for="status-code"> Status code</label>
        <nb-select id="status-code" placeholder="status code">
          <nb-option *ngFor="let item of statusCode | enumToKeysArray" [value]="item"
                     (selectionChange)="setStatusCode(item)">
            {{item}}
          </nb-option>
        </nb-select>
      </div>
    </div>
  </div>


  <div *ngIf="trait.name && name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

    <div *ngIf="name.errors.nameValidator">
      invalid character in name
    </div>
  </div>

  <div *ngIf="trait.header">
    <label class="label" for="header">Header</label>
    <nb-card id="header" accent="success" class="params-card">
      <div *ngFor="let header of trait.header; index as i">
        <app-header [header]="header" (headerChange)="updateHeader($event, i)">
        </app-header>
      </div>
    </nb-card>
  </div>
  <div class="params-card">
    <button nbButton status="basic" (click)="addHeader()">Add Header</button>
  </div>
  <div *ngIf="!trait.response">
    <div *ngIf="trait.queryParams">
      <label class="label" for="query-params">Query params</label>
      <nb-card id="query-params" accent="warning" class="params-card">
        <div *ngFor="let queryParam of trait.queryParams; index as i">
          <app-query-param [queryParam]="queryParam" (queryParamChange)="updateQuery($event, i)">
          </app-query-param>
        </div>
      </nb-card>
    </div>

    <div class="params-card">
      <button nbButton status="basic" (click)="addQueryParams()">Add Query Params</button>
    </div>
  </div>


  <label class="label" for="body">Body</label>
  <nb-select class="params-card" id="body" placeholder="Select existing object" (click)="loadFileNames()">
    <nb-option *ngFor="let item of filesName" [value]="item" (selectionChange)="selectFile(item)">
      {{item}}
    </nb-option>
  </nb-select>

  <button nbButton status="basic" (click)="save()">SAVE</button>

</nb-card>

