.method {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 10px;

}

* {
  font-family: Raleway /* Replace with your custom font */, sans-serif !important;
  font-weight: bold;
}
