.body-generator-card {
  width: max-content;
  margin: 20px;
  flex-flow: row wrap;
  gap: 10px;
}


.nb-theme-default .nb-card {
  background-color: red;
}

.normal {
  display: grid;
}

.object-body {
  display: grid;
  margin: 20px;
  gap: 10px;
}

.card-margin {
  margin: 20px;
  width: max-content;
  padding: 10px;
}
.error-box{
  width: max-content;

}
.show-in-row {
  margin-top: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}
